{% extends "blog/base.html" %} 

{% block content %}
<!-- <div class="container">
    <div class="row"> -->
        <!-- Blog Entries Column -->
        <!-- <div class="col-md-8 mt-3 left">
            <h2 class="card-title">{{ post.headline }}</h2>
            <p class="card-text text-muted h6">{{ post.author }} | {{ post.pub_date}} </p>
            <p class="card-text">{{ post.body_text }}</p>
        </div>
        
    </div>
</div> -->

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-4 left  top">
        <div class="card-body">
          <h1 class="display-4">{% block title %} {{ object.headline }} {% endblock title %}</h1>
          <img class="center" src="{{ post.cover.url }}" alt="{{ post.headline }}" />
          <p class=" text-muted">{{ post.author }} | {{ post.pub_date }}</p>
          <p class="card-text ">{{ object.body_text | safe }}</p>
        </div>
      </div>
      {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
  </div>
{%endblock%}